<link href="~/css/styles.css" rel="stylesheet" type="text/css">
<h1 class="class1">Find and Replace</h1>
<h3></h3>
<form action='/findandreplace' method='post'>
  <label for='sentence'>Sentence</label>
  <input id='sentence' name='sentence' type='text'>
  <br>
  <label for='chosenWord'>Word to replace</label>
  <input id='chosenWord' name='chosenWord' type='text'>
  <br>
  <label for='replacementWord'>Replacement word</label>
  <input id='replacementWord' name='replacementWord' type='text'>
  <br>

  <button type='submit'>Run</button>

</form>
